# modified Allowlisting gitignore
# Ignore everything
*

!/.gitignore
!/.github/**/*.yaml

!LICENSE
!VERSION
!Makefile

!README.md
!config/**/*.yaml
!content/**
!static/**

# hugo modules
!go.sum
!go.mod

# but allow the above files in (sub)directories
!*/

# explicitly ignore experimentation and in-progress development
exp/**
node_modules/**
public/**
package-lock.json
.hugo_build.lock
resources/
hugo_stats.json
